.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  margin-left: 10vw;
}
.row{
  display:inline-block;
  margin: 2vh;

  
}
button{
  color:white;
  background-color: #0a58ca;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
button:hover{
  background-color: blue;
}
.progress{
  height: 1mm;
  width: 100vw;
}
.box{
  background-color: blue;
  height: 1mm;
  width: 1mm;
  animation: animation1 0.3s ease-in-out 1 forwards;

}
@keyframes animation1 {
  from{
      width: 1mm;
  }
  to{
      width: 100vw;
  }
}
.navbar fixed-top navbar-expand-lg bg-light{
  background-color: gray;
}

body{
  background-color: lightblue;
}